<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245002644962-rrkudf4qu75umfho26b7au5b9i0jl6il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245002644962-rrkudf4qu75umfho26b7au5b9i0jl6il</string>
	<key>API_KEY</key>
	<string>AIzaSyBSnFeP9RGUWYK6_oSWclwz-5Wi4Sk1JJg</string>
	<key>GCM_SENDER_ID</key>
	<string>245002644962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.rpicloud.IPv64</string>
	<key>PROJECT_ID</key>
	<string>ipv64-b6e12</string>
	<key>STORAGE_BUCKET</key>
	<string>ipv64-b6e12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245002644962:ios:7d77b9a29458c99f451dbb</string>
</dict>
</plist>